# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment
venv/
.env
.env.production
.env.development

# Logs
*.log

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# virtualenv
venv/

# temp test files
temp.py

key.bin

downloads/
